body {
  margin: 0px;
  background: rgb(250, 250, 250);
  color: rgb(10, 10, 10);
  font-family: Helvetica, sans-serif;
	font-size: 19px;
  font-weight: lighter;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url("images/IMG_1131.JPG");
  background-size: cover;
  background-position: center;
}

h1, h2, h3 {
  font-family: Courier;
  font-weight: bold;
}
h1 {
	font-size: 60px;
}
h2 {
  font-size: 27px;
  color: #2851A3;
}
a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}

.banner{
  text-align: center;
  color: white;
  padding: 150px 0px;
}
.banner h1 {
  font-size: 50px;
}
.banner p {
  opacity: 0.8;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.button_blue{
  text-align: center;
  margin-bottom: 40px;
  color: white;
  background: #6772e5;
  box-shadow: 7px 4px 6px rgba(50,50,93,.11);
  border-radius: 4px;
  padding: 15px 20px;

}

.button_blue:hover{
  background: #7795f8;
  color: white;
}

.E{
  background-color: white;  
  border-radius: 4px;
  text-align: center
  box-shadow: 3px 4px 6px rgba(50,50,93,.11);
  padding: 9px;


}

.my-card {
  color: white;
}

/*.row img {
  margin-bottom: 20px;
}*/

.footer {
  background-color: black;
  padding: 24px;
  color: white;
}
.footer a {
  color: white;
  font-size: 32px;
}

.list {
  list-style: none;
  padding-left: 0px;
}
.list li {
  display: inline;
  padding: 0px 8px;
}